@using Siscom.Models
@model Siscom.Areas.Global.Models.PersonaModels

@{  
    var usuarioSession = (UsuarioModel)Session[UsuarioModel.SessionName];
}

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Home/Principal.cshtml";
}

<!-- Content wraper -->
<section class="main-content-wrapper" style="padding:15px">
    <!-- Main view  -->
    <div class="pageheader">
        <h1 style="font-family:'Segoe UI';font-size:28px">Bienvenidos </h1>
    </div>
    <div class="row" style="padding:15px">
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel widget-mini">
                        <div class="panel-body" style="text-align:center">                            
                            <img src="@usuarioSession.Usuario1.vc_imagen_personalizar" height="130px"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <i class="icon-users"></i>
                            <span class="total text-center" style="font-family:'Segoe UI';font-size:30px"><strong>@usuarioSession.Usuario1.cant_candidatos</strong></span>
                            <span class="title text-center" style="font-family:'Segoe UI';font-size:20px"><strong>Candidatos</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel widget-mini" style="background-color:#9a796d;color:white">
                        <div class="panel-body">
                            <i class="icon-handbag"></i>
                            <span class="total text-center" style="font-family:'Segoe UI';font-size:30px"><strong>@usuarioSession.Usuario1.cant_puesto</strong></span>
                            <span class="title text-center" style="font-family:'Segoe UI';font-size:20px"><strong>Puestos</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel" >
                        <div class="panel-heading" style="background-color:#ff8d00;color:white">
                            <h3 class="panel-title" style="font-family:'Segoe UI';font-size:14px"><i class="fa fa-bar-chart-o" style="padding-right: 10px;"></i><strong>USO DE PRUEBAS</strong></h3>
                        </div>
                        <div class="panel-body data-toggle="collapse" style="font-size:75%; padding:5px">
                            @Html.Partial("_UsoPruebas")     
                         </div> 
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row">  
                <div class="col-md-12">
                    <div class="panel panel-primary" >
                        <div class="panel-heading">                            
                            <h3 class="panel-title" style="font-family:'Segoe UI';font-size:14px"><i class="icon-users" style="padding-right: 10px;"></i><strong>ACCESO DE CANDIDATOS</strong></h3>
                            <div class="actions pull-right">
                                <a href="../../Global/Persona/Bandeja"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="panel-body data-toggle="collapse" style="font-size:75%; padding:5px">
                            <div id="div_ListaCandidatos" class="table-responsive" style="padding-top:1px">    
                                @Html.Partial("_BandejaCandidatos")     
                            </div> 
                        </div>
                    </div>  
                </div>              
           </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel" >
                        <div class="panel-heading" style="background-color:#ff8d00;color:white">
                            <h3 class="panel-title" style="font-family:'Segoe UI';font-size:14px"><i class="fa fa-bar-chart-o" style="padding-right: 10px;"></i><strong>ESTADÍSTICA DE CANDIDATOS</strong></h3>
                        </div>
                        <div class="panel-body data-toggle="collapse" style="font-size:75%; padding:5px">
                            @Html.Partial("_HistorialCandidatos")     
                         </div> 
                    </div> 
                </div>
                <div class="col-md-12">
                    <div class="panel" >
                        <div class="panel-heading" style="background-color:#b200ff;color:white">
                            <h3 class="panel-title" style="font-family:'Segoe UI';font-size:14px"><i class="fa fa-file-pdf-o" style="padding-right: 10px;"></i><strong>MANUAL DE USUARIO</strong></h3>
                        </div>
                        <div class="panel-body>
                            <div class="panel-group accordion" id="">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
                                            <a href="~/Recursos/Archivos/MANUAL_HSMART.pdf" target="_blank"><i class="fa fa-download"></i> Manual HSmart</a>
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel-group accordion" id="">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
                                            <a href="~/Recursos/Archivos/BateriaPruebasRecomendadasHsmart.pdf" target="_blank"><i class="fa fa-download"></i> Batería de Pruebas Recomendadas</a>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>                
            </div>
               <!-- <div class="col-md-12 col-lg-6">
                <div class="row">
                <div class="col-md-12">
                    <div class="panel" >
                        <div class="panel-heading" style="background-color:#f44336;color:white">
                            <h3 class="panel-title" style="font-family:'Segoe UI';font-size:14px"><i class="fa fa-youtube-play" style="padding-right: 10px;"></i><strong>VIDEOS TUTORIALES</strong></h3>
                        </div>
                        <div class="panel-body>
                            <div class="panel-group accordion" id="accordion">
                                <div class="panel panel-default" style=" margin-bottom: 1px;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
                                                PROXIMAMENTE....
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="embed-container">
                                            <iframe width="560" height="315"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                                                VER REPORTES....
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="embed-container">
                                            <iframe width="560" height="315"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
            </div>-->
        </div>
    </div>
</section>
<!-- /Content wraper-->